*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    font-size: 10px;
}

.section-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;

}

.section-heading h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.section-heading hr {
    width: 9rem;
    margin-bottom: 3rem;
    width: 15%;
    height: 4px;
    border: none;
    background-color: brown;
}

header{
    width: 100vw;
    font-size: 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 7%;
    background-color: darkblue;
    height: 100%;
    color: white;
    text-align: center;
    text-decoration-style: wavy;
}

header ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

header ul li span{
    display: block;
    margin-top: 0.2;
    color: rgb(199, 139, 60);
}

header li{
  text-align: center;
  list-style: none;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./Images/tina/background.jpg);
    background-size: cover;
    background-position: center;
}
/* what we offer section */

.what-we-offer{
    width: 100%;
    height: 100vh;
}

h2{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

h2 hr{
    width: 15%;
    height: 4px;
    border: none;
    background-color: brown;
    margin: 0 auto;
}

.offer-images{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer-image{
    width: 25rem;
    height: 25rem;
    background-color: burlywood;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.offer-image p{
    font-size: 1.5rem;
    transform: rotate(-12deg);
    color: brown;
}

.offer1{
    background-image: url(./Images/tina/Small\ bread.jpg);
}

.offer2{
    background-image: url(./Images/tina/abstract.jpg);
}

.offer3{
    background-image: url(./Images/tina/original-drinks.jpg);
}

.OurStory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0d4f72;
    height: 600px;
}

.story {
    color: white;
    padding: 8rem 8rem;
    font-size: 2rem;
}

.img-wrapper {
    background-size: cover;
    background-position: center;
}

.StoryImage {
    background-image: url("./Images/tina/breads-38.jpg");
}

.menu {
    height: 600px;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card-img-wrapper {
    width: 30rem;
    height: 40rem;
    background-size: cover;
    background-position: center;
} 

.breakfast-card {
    background-image: url("./Images/tina/muffins-recipe.jpg");
}

.lunch-card {
    background-image: url("./Images/tina/no-knead-crusty-bread-rolls-moorlands-eater-DSC00179.jpg");
}

.seasonal-card {
    background-image: url("./Images/tina/gluten-free-vegan-everyday-healthy-rainbow-salad-Running-on-Real-Food-6-of-10.jpg");
}


.ourbread {
    height: 600px;
    width: 100%;
}

.bread-cards {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 3rem;
}
.bread-cards span{
    text-align: center;
    font-size: 1.5rem;
}

.bread-img-wrapper {
    height: 30rem;
    width: 25rem;
    background-size: cover;
    background-position: center;
}

.baguette {
    background-image: url("./Images/tina/bread1.png");
}

.Rye-bread {
	background-image: url("./Images/tina/bread2.png");
}

.Wheat-bread {
	background-image: url("./Images/tina/bread3.png");
}

.Croissant {
	background-image: url("./Images/tina/bread4.png");
}

.bread-btn{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}
.bread-btn button{
    padding: 1rem 1.7rem;
    font-size: 1.5rem;
}

.footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 600px;
}

.footer1,.footer2{
height: 50%;
width: 100%;
display: flex;
}

.footer-img{
    width: 50%;
	background-image: url("./Images/tina/foot-banner.jpg");
}

.footer-input {
    width: 50%;
    background-color: darkgrey;
	text-align: center;
	font-style: italic;
	font-size: 2rem;
	padding: 0 10rem;
}

.footer-input h1 {
	margin: 4rem 0;
}

.footer-img-wrapper {
	background-size: cover;
	background-position: center;
}


.mailing-list {
	background-color: transparent;
	display: flex;
	border-radius: 9px;
	overflow: hidden;
	margin-top: 2rem;
	border: 1px solid rgb(165, 108, 42);
}

.mailing-list .input-box {
	padding: 1rem;
	font-size: 1.5rem;
	border: none;
	
}

.mailing-list .submit-btn {
	font-size: 1.5rem;
	padding: 1rem;
	border: none;
	background-color: rgb(180, 108, 41);
}

.footer2 {
	display: flex;
	font-size: 2rem;
	background-color: rgb(97, 94, 94);
	color: white;
	justify-content: space-between;
	padding: 0 5rem;
	align-items: center;
}

.footer2 li {
	list-style: none;
}

.footer-logo {
	height: 50%;
}

.footer-links {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.address {
	height: 50%;
	width: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-links {
	height: 50%;
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
}
